.text1 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #5a3000, #5a3000);
}

.text2 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}

.text3 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, blue, blue);
}

.text4 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, white, green);
}

a {
  color: #FFC720;
  text-decoration: none;
}

@font-face {
  font-family: "ambleregular";
  src: url("fonts/Amble-Regular-webfont.eot");
  src: url("fonts/Amble-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amble-Regular-webfont.woff2") format("woff2"), url("fonts/Amble-Regular-webfont.woff") format("woff"), url("fonts/Amble-Regular-webfont.ttf") format("truetype"), url("fonts/Amble-Regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.otf) format("opentype"), url(../fonts/Allura-Regular-webfont.eot) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sprat";
  src: url(../fonts/Sprat-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alexbrush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greatvibes";
  src: url(../fonts/GreatVibes-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 50px;
}

.button {
  width: 350px;
  margin: auto;
  border-radius: 25px;
  color: #FFC720;
  background-color: #008000;
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #008000;
  color: #FFC720;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10%;
  margin-left: 10%;
}

.menu1 {
  width: 50%;
  min-height: 500px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #eba360;
  font-family: "allura";
}

.menu2 {
  width: 50%;
  min-height: 500px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #FFA5A5;
  font-family: "sprat";
}

.menu3 {
  width: 50%;
  min-height: 500px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #fcffcd;
  font-family: "alexbrush";
}

.menu4 {
  width: 50%;
  min-height: 500px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #e8ffff;
  font-family: "greatvibes";
}

.bigmenu {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.bigmenu__content {
  color: red;
}

footer {
  color: #FFC720;
  background-color: #008000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  text-decoration: none;
}

.footer.contacteznous {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
