/* page accueil*/
/*body*/
/* main*/
/* typographie */
/*menu1=la note enchantee*/
/*menu2=le chic a la francaise*/
/*menu3=le delice des papilles*/
/*menu4= la palette du gout*/
/* background */
/* color text menu */
/* animation footer*/
/*responsivite*/
/* page accueil*/
/* footer*/
/* animation des mentions legales et contactez-nous par effet wiggle*/
@keyframes headshake {
  25% {
    transform: translateX(25%);
  }
  75% {
    transform: translateX(-25%);
  }
}
.mentionslegales {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 10;
}

.contacteznous {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 10;
}

/* page accueil*/
/*header*/
/* main*/
/* bouton prochainement*/
/*footer*/
/*responsivite*/
/*pages de menus*/
/* alignements generiques*/
/* page accueil*/
/*body*/
/* main*/
/* typographie */
/*menu1=la note enchantee*/
/*menu2=le chic a la francaise*/
/*menu3=le delice des papilles*/
/*menu4= la palette du gout*/
/* background */
/* color text menu */
/* animation footer*/
/*responsivite*/
/* page accueil*/
/* main*/
/* restaurant 1*/
.text1 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #251400, #251400);
}

.music {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100%;
  background-image: -webkit-linear-gradient(left, red, orange);
}

/* restaurant 2*/
.text2 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-image: -webkit-linear-gradient(left, #e49709, purple, #0084ff);
}

/* restaurant 3*/
.text3 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0099ff, #02ffff);
}

/* restaurant 4*/
.text4 {
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(bottom, white, green);
}

/* footer*/
a {
  color: #FFC720;
  text-decoration: none;
}

@font-face {
  font-family: "ambleregular";
  src: url("fonts/Amble-Regular-webfont.eot");
  src: url("fonts/Amble-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amble-Regular-webfont.woff2") format("woff2"), url("fonts/Amble-Regular-webfont.woff") format("woff"), url("fonts/Amble-Regular-webfont.ttf") format("truetype"), url("fonts/Amble-Regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.otf) format("opentype"), url(../fonts/Allura-Regular-webfont.eot) format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sprat";
  src: url(../fonts/Sprat-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alexbrush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "greatvibes";
  src: url(../fonts/GreatVibes-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 50px;
}

/* animation du bouton prochainement*/
.prochainement {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin: auto;
  border-radius: 25px;
  color: #FFC720;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  opacity: 0;
  -webkit-animation: clignotant 1.3s infinite;
  -webkit-animation-delay: 0s;
  animation: clignotant 1.3s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 0;
  -webkit-animation: clignotant 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: clignotant 1.3s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: clignotant 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: clignotant 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes clignotant {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clignotant {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  background-color: green;
  color: #FFC720;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* page accueil*/
.container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10%;
  margin-left: 10%;
}

.bloc1 {
  width: 50%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  background-color: #fcdfdb;
  font-family: "allura";
}

.menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.menu1:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.3;
}
.menu1__menu {
  color: #251400;
}

.bloc2 {
  width: 50%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  background-color: #e7e3a8;
  font-family: "sprat";
}

.menu2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.menu2:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.3;
}
.menu2__menu {
  color: #e49709;
}

.bloc3 {
  width: 50%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  background-color: #e2eff0;
  font-family: "alexbrush";
}

.menu3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.menu3:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.3;
}
.menu3__menu {
  color: aqua;
}

.bloc4 {
  width: 50%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 255, 0.2);
  background-color: #fdfffd;
  font-family: "greatvibes";
}

.menu4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.menu4:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.3;
}
.menu4__menu {
  color: #64f15f;
}

/*pages menus*/
.headermenu {
  text-align: center;
}

.body {
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 110%;
  padding-bottom: 25px;
}
.body__lanoteenchantee {
  background-color: #fcdfdb;
  font-family: "allura";
  color: #251400;
  padding: 35px;
}
.body__lechicalafrancaise {
  background-color: #e7e3a8;
  font-family: "sprat";
  color: #e49709;
  padding: 35px;
}
.body__ledelicedespapilles {
  background-color: #e2eff0;
  font-family: "alexbrush";
  color: #251400;
  padding: 35px;
}
.body__lapalettedugout {
  background-color: #fdfffd;
  font-family: "greatvibes";
  padding: 35px;
}
@media screen and (max-width: 1024px) {
  .body {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.blocstartmenu {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.blocstartmenu__lanoteenchantee {
  font-family: "allura";
}
.blocstartmenu__lechicalafrancaise {
  font-family: "sprat";
}
.blocstartmenu__ledelicedespapilles {
  font-family: "alexbrush";
}
.blocstartmenu__lapalettedugout {
  font-family: "greatvibes";
  font-size: 35px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 400px;
  text-align: center;
  background-image: -webkit-linear-gradient(left, green, #64f15f);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.categories__trait {
  width: 30%;
  overflow: hidden;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail__lapalettedugoutgauche {
  padding-left: 20px;
}
.detail__lapalettedugoutdroit {
  padding-right: 20px;
}
.detail__ledelicedespapillesgauche {
  padding-left: 20px;
}
.detail__ledelicedespapillesdroit {
  padding-right: 20px;
}

.blocendmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.blocendmenu__tittle {
  padding-left: 15px;
}

footer {
  color: #FFC720;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
  text-decoration: none;
}

.footer.contacteznous {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
