

.text1
{
   @include text-menu;
    background-image: -webkit-linear-gradient(left, rgb(90, 48, 0), rgb(90, 48, 0));
}

.text2
{
    @include text-menu;
    text-align: center;
    background-image: -webkit-linear-gradient(left, blue, white, red);
}
.text3
{
    @include text-menu;
    background-image: -webkit-linear-gradient(left, blue, blue);
    
}

.text4 
{
    @include text-menu;
    background-image: -webkit-linear-gradient(bottom, white, green);
    
}
a
{
    color: $colour-secondary;
    text-decoration: none;
}
.music{
    @include text-menu;
    font-size: 100%;
    background-image: -webkit-linear-gradient(right, yellow, orange);
}