/* page*/
.body
{
    @include align-body;
        &__lapalettedugout
        {
            background-color: nth($background-menu, 4);
            font-family: $font-family-menu4;
            padding: 35px;
            font-size:12px;
            padding-bottom:50px;
            @media screen and (max-width: 600px)
            
            {
                padding: 5px;
                padding-bottom:25px;
                font-size:10px;
                           
            }
             @media screen and (min-width: 600px ) and (max-width:1024px)
            
            {
                padding: 10px;
                padding-bottom:200px;
                font-size:20px;
            }     
        }
     
}

/* en-tête nom du restaurant*/
 .blocstartmenu
 {
     @include main-text;
     @include align-blocmenu;
     &__lapalettedugout
     {
        font-family: $font-family-menu4;
        @include text-menu;
        text-align: center;
        font-size: 25px;
        background-image: -webkit-linear-gradient(left,$colortextrestaurant4start, $colortextrestaurant4end);
        @media screen and (max-width:600px)
        {
           font-size:20px; 
        }
        @media screen and (min-width:600px) and (max-width:1024px)
        {
           font-size:30px; 
        }
     }
 }
 
/* soulignement*/
a.underlinelapalettedugout
{
    color: black;
    @include underline ($colortextrestaurant4start);
}    
/* détail menu*/ 
 .detail
 {
     @include align-detail;
     &__lapalettedugoutgauche 
     {
         padding-left: 20px;
         @media screen and (max-width:1024px)
          {
             padding-left: 0px;
         }
     }
     &__lapalettedugoutdroit
     {
         padding-right: 20px;
         font-weight: bold;
         text-align: right;
         @media screen and (max-width:1024px)
          {
             padding-right: 0px;
         }
     }
}
 
 

