/*page*/
img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.body
{
    @include align-body;
        &__lechicalafrancaise
        {
        background-color: nth($background-menu, 2);
        font-family: $font-family-menu2;
        color: $colortextmenu3;
        font-size:12px;
        padding: 35px;
        @media screen and (max-width: 600px)
            
            {
                padding: 5px;
                font-size:10px;
             
                
            }
        @media screen and (min-width: 600px) and (max-width: 1024px)
            {
                font-size:20px;
                padding: 10px;
                padding-bottom: 80px;
                
            }
        }
}
/* en-tête nom du restaurant*/
 .blocstartmenu
{
     @include main-text;
     @include align-blocmenu;
     &__lechicalafrancaise
     {
        font-family: $font-family-menu2;
        @include text-menu;
        font-size: 20px;
        text-align: center;
        background-image: -webkit-linear-gradient(left, $colortextrestaurant2start, $colortextrestaurant2middle, $colortextrestaurant2end);
        @media screen and (max-width:600px)
        {
           font-size:20px; 
        }
        @media screen and (min-width:600px) and (max-width:1024px)
        {
           font-size:30px; 
        }
     }
}

/* soulignement*/
      /*categories 1*/
      a.underlinelechicalafrancaisestart
        {
          color:$colortextrestaurant2start;
          @include underline ($colortextrestaurant2start);
        }
      /* categories 2*/
      a.underlinelechicalafrancaisemiddle
        {
          color:$colortextrestaurant2middle;
          @include underline ($colortextrestaurant2middle);
        }
        /* categories 3*/
        a.underlinelechicalafrancaiseend
        {
            color: $colortextrestaurant2end;
            @include underline ($colortextrestaurant2end);
        }     
/*detail menu*/
 .detail
{
     @include align-detail;
           
     &__lechicalafrancaisegauche 
     {
         padding-left: 20px;
         @media screen and (max-width:1024px)
         {
           padding-left: 0px;  
         }
     }
     &__lechicalafrancaisedroit 
     {
         padding-right: 20px;
         font-weight: bold;
         text-align: right;
         @media screen and (max-width:1024px)
         {
           padding-right: 0px;  
         }
     }
}
 /*specificites restaurant 2 le chic à la française*/ 
 .starterlechicalafrancaise
 {
     color: $colortextrestaurant2start;
     
 }
 .middlelechicalafrancaise
 {
     color: $colortextrestaurant2middle;
     
 }
 .endlechicalafrancaise
 {
     color: $colortextrestaurant2end;
     
    
    
 }

 