/* page accueil*/
    /* footer*/
    /* animation des mentions legales et contactez-nous par effet wiggle*/
    @keyframes headshake 
    {		
        25% {		
            // entièrement à droite		
            transform: translateX($shake-intensity);
                    
        }		
        75% {		
            // entièrement à gauche		
            transform: translateX(-$shake-intensity);	
            
        }		
    }		
    .mentionslegales{
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
        animation-iteration-count: 10;
    }
    .contacteznous{
        animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
        animation-iteration-count: 10;
    }

