@keyframes headshake {		
    25% {		
        // entièrement à droite		
        transform: translateX($shake-intensity);		
    }		
    75% {		
        // entièrement à gauche		
        transform: translateX(-$shake-intensity);		
    }		
}		
.mentionslegales{
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 3;
}
.contacteznous{
    animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
    animation-iteration-count: 3;
}



