@mixin align-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

@mixin align-menu 
{
    width: 50%;
    min-height: 500px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}
@mixin main-text
{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@mixin text-menu 
{
    font-size:35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin align-footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: auto; 
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

@mixin align-button 
{
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@mixin align-bigmenu
 {
    display: flex;
    flex-direction: column;
}