/* page accueil*/
    /*body*/
    $colour-primary : rgb(0, 128, 0);
    $colour-secondary : #FFC720;
    $font-family : "ambleregular, arial";

    /* main*/
    /* typographie */
    $font-family-menu1 : "allura"; /*menu1=la note enchantee*/
    $font-family-menu2 : "sprat";   /*menu2=le chic a la francaise*/
    $font-family-menu3 : "alexbrush";/*menu3=le delice des papilles*/
    $font-family-menu4 : "greatvibes"; /*menu4= la palette du gout*/

    /* background */
    $background-menu : rgb(252,223,219) rgb(231, 227, 168) rgb(226, 239, 240)  rgb(253, 255, 253);

    /* color text menu */
    $colortextmenu1 :rgb(37, 20, 0);
    $colortextmenu2 : rgb(228, 151, 9);
    $colortextmenu3 :rgb(0, 255, 255);
    $colortextmenu4: rgb(100, 241, 95);
   

    /* animation footer*/
    $shake-intensity: 25%;

    /*responsivite*/
    $breakpoints: (tablettes:1024px);