/* page accueil*/

.container
{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10%;
    margin-left: 10%;
}

.bloc1
 {
    @include align-bloc ;
    background-color: nth($background-menu, 1);
    font-family: $font-family-menu1;
 }
.menu1
{
    @include align-menu;
    @include anim-menu;
    &__menu {
        color: $colortextmenu1;
            
        }
    }

 
.bloc2
{
    @include align-bloc;
    background-color: nth($background-menu, 2);
    font-family: $font-family-menu2;
}
 .menu2
 {
     @include align-menu;
     @include anim-menu;
     &__menu {
         color: $colortextmenu2;
     }
  }

.bloc3
{
    @include align-bloc;
    background-color: nth($background-menu, 3);
    font-family: $font-family-menu3;
}  
.menu3
 {
     @include align-menu;
     @include anim-menu;
     &__menu{
         color:$colortextmenu3;
     }
}

.bloc4
{
    @include align-bloc;
    background-color: nth($background-menu, 4);
    font-family: $font-family-menu4;

}
 .menu4
 {
    @include align-menu;
    @include anim-menu;
     &__menu{
         color: $colortextmenu4;
     }
}

/*pages menus*/
.body
{
    @include align-body;
        &__lanoteenchantee
        {
        background-color: nth($background-menu, 1);
        font-family: $font-family-menu1;
        color: $colortextmenu1;
        padding: 35px;
        }
        &__lechicalafrancaise
        {
        background-color: nth($background-menu, 2);
        font-family: $font-family-menu2;
        color: $colortextmenu3;
        padding: 35px;
        }
        &__ledelicedespapilles
        {
        background-color: nth($background-menu, 3);
        font-family: $font-family-menu3;
        color: $colortextmenu1;
        padding: 35px;
        }
        &__lapalettedugout
        {
            background-color: nth($background-menu, 4);
            font-family: $font-family-menu4;
            padding: 35px;
        }
    @include tablettes-only;
}

 .blocstartmenu
 {
     @include main-text;
     @include align-blocmenu;
     &__lanoteenchantee
     {
        font-family: $font-family-menu1;
     }
     &__lechicalafrancaise
     {
        font-family: $font-family-menu2;
        @include text-menu;
        font-size: 20px;
        text-align: center;
        background-image: -webkit-linear-gradient(left, $colortextrestaurant2start, $colortextrestaurant2middle, $colortextrestaurant2end);
     }
     &__ledelicedespapilles
     {
        font-family: $font-family-menu3;
        color: $colortextrestaurant3start;
        font-size: 25px;
     }
     &__lapalettedugout
     {
        font-family: $font-family-menu4;
        @include text-menu;
        width: 400px;
        text-align: center;
        font-size: 25px;
        background-image: -webkit-linear-gradient(left, green, $colortextmenu4);
     }
 }
 img
 {
    max-width: 100%;
    max-height: 100%;
 }
 .categories
 {
    @include align-categories;
        
   &__trait 
   {   
       width: 25%;
       overflow: hidden; 
    }
    
}
/* souligfnement*/
/*restaurant 1 */
a.underlinelechicalafrancaisestart
    {
        color:$colortextrestaurant2start;
        @include underline;
        transition: all 0.35s linear;
        background: linear-gradient(to bottom, $colortextrestaurant2start 0%, $colortextrestaurant2start 98%);
        background-size: 0px 2px;
        background-repeat: no-repeat;
        background-position: left 100%;
    }
      a.underlinelechicalafrancaisestart:hover {
        background-size: 100% 2px;
      }   
      /* restuarant 2*/
      /*categories 1*/
      a.underlinelechicalafrancaisestart
      {
          color:$colortextrestaurant2start;
          @include underline;
          transition: all 0.35s linear;
          background: linear-gradient(to bottom, $colortextrestaurant2start 0%, $colortextrestaurant2start 98%);
          background-size: 0px 2px;
          background-repeat: no-repeat;
          background-position: left 100%;
      }
      a.underlinelechicalafrancaisestart:hover {
        background-size: 100% 2px;
      }   
      /* categories 2*/
      a.underlinelechicalafrancaisemiddle
      {
          color:$colortextrestaurant2middle;
          @include underline;
          transition: all 0.35s linear;
          background: linear-gradient(to bottom, $colortextrestaurant2middle 0%, $colortextrestaurant2middle 98%);
          background-size: 0px 2px;
          background-repeat: no-repeat;
          background-position: left 100%;
      }
        a.underlinelechicalafrancaisemiddle:hover {
          background-size: 100% 2px;
        }   
        /* categories 3*/
        a.underlinelechicalafrancaiseend
        {
            color: $colortextrestaurant2end;
            @include underline;
            transition: all 0.35s linear;
            background: linear-gradient(to bottom, $colortextrestaurant2end 0%, $colortextrestaurant2end 98%);
            background-size: 0px 2px;
            background-repeat: no-repeat;
            background-position: left 100%;
        }
        a.underlinelechicalafrancaiseend:hover {
            background-size: 100% 2px;
          }      
          /*restaurant 3*/ 
          a.underlineledelicedespapilles
          {
              color: black;
              @include underline;
              transition: all 0.35s linear;
              background: linear-gradient(to bottom, $colortextrestaurant3start 0%, $colortextrestaurant3start 98%);
              background-size: 0px 2px;
              background-repeat: no-repeat;
              background-position: left 100%;
          }
            a.underlineledelicedespapilles:hover {
              background-size: 100% 2px;
            }   
         /*restaurant 4*/ 
          a.underlinelapalettedugout
          {
              color: black;
              @include underline;
              transition: all 0.35s linear;
              background: linear-gradient(to bottom, $colortextrestaurant4start 0%, $colortextrestaurant4start 98%);
              background-size: 0px 2px;
              background-repeat: no-repeat;
              background-position: left 100%;
          }
            a.underlinelapalettedugout:hover {
              background-size: 100% 2px;
            }   
  /* fin soulignement*/

 .detail
 {
     @include align-detail;
     &__lanoteenchanteedroit
     {
         font-weight: bold;
         text-align: right;
     }
     &__lapalettedugoutgauche 
     {
         padding-left: 20px;
         
     }
     &__lapalettedugoutdroit
     {
         padding-right: 20px;
         font-weight: bold;
         text-align: right;
         
     }
     &__ledelicedespapillesgauche 
     {
         padding-left: 20px;
         
     }
     &__ledelicedespapillesdroit 
     {
         padding-right: 20px;
         font-weight: bold;
         text-align: right;
     }
     &__lechicalafrancaisegauche 
     {
         padding-left: 20px;
         
     }
     &__lechicalafrancaisedroit 
     {
         padding-right: 20px;
         font-weight: bold;
         text-align: right;
     }
     
}

 .blocendmenu
 {
     @include align-blocendmenu;
     &__tittle
     {
         padding-left: 15px;
     }
 }
 
 /*specificites restaurant 2 le chic à la française*/ 
 .starterlechicalafrancaise
 {
     color: $colortextrestaurant2start;
     font-size: 12px;
 }
 .middlelechicalafrancaise
 {
     color: $colortextrestaurant2middle;
     font-size: 12px;
 }
 .endlechicalafrancaise
 {
     color: $colortextrestaurant2end;
     font-size: 12px;
     margin-bottom: 75px;
 }

 /*specificites restaurant 3 le délice des papilles*/

 .endledelicedespapilles
 {
    margin-bottom: 75px;
 }

 /*specificites restaurant 4 la palette du gout*/
 .starterlapalettedugout
 {
     font-size: 12px;
 }
.middlelapalettedugout
{
    font-size: 12px;
}
 .endlapalettedugout
 {
    margin-bottom: 75px;
    font-size: 12px;
 }
 