footer
{
    color: $colour-secondary;
    background-color: $colour-primary;
    @include align-footer;
    text-decoration: none;
}

a{
    color: $colour-secondary;
    text-decoration: none;
}
.footer-bloc
{
    @include make-a-freeze;
}



