footer
{
    color: $colour-secondary;
    background-color: $colour-primary;
    @include align-footer;
    text-decoration: none;
}

a{
    color: $colour-secondary;
    text-decoration: none;
}
.footer-bloc
{
    padding-right: 10px;
    padding-left: 10px;
    @include make-a-freeze;
    @media screen and (max-width: 600px)
            
    {
        width: 50%;
        font-size:12px;
        text-align:center;
        
    }
    @media screen and (min-width: 600px) and (max-width: 1024px)
             
    {
        
       font-size:25px;
       text-align:center;
    }
}



